<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home one || Hurst</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../../Content/favicon.ico" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- Google Font -->
    <link href="css-family=Lato-400,700,900.css" tppabs="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel='stylesheet' type='text/css'>
    <link href="css-family=Bree+Serif.css" tppabs="https://fonts.googleapis.com/css?family=Bree+Serif" rel='stylesheet' type='text/css'>
    <!-- all css here -->
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="../../Content/animate.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="../../Content/jquery-ui.min.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="../../Content/meanmenu.min.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/meanmenu.min.css">
    <!-- nivo-slider css -->
    <link rel="stylesheet" href="../../Content/nivo-slider.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/lib/css/nivo-slider.css">
    <link rel="stylesheet" href="../../Content/preview.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/lib/css/preview.css">
    <!-- slick css -->
    <link rel="stylesheet" href="../../Content/slick.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/slick.css">
    <!-- lightbox css -->
    <link rel="stylesheet" href="../../Content/lightbox.min.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/lightbox.min.css">
    <!-- material-design-iconic-font css -->
    <link rel="stylesheet" href="../../Content/material-design-iconic-font.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/material-design-iconic-font.css">
    <!-- All common css of theme -->
    <link rel="stylesheet" href="../../Content/default.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/default.css">
    <!-- style css -->
    <link rel="stylesheet" href="../../Content/style.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/style.css">
    <!-- shortcode css -->
    <link rel="stylesheet" href="../../Content/shortcode.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/shortcode.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="../../Content/responsive.css" tppabs="http://demo.devitems.com/hurst-preview/hurst/css/responsive.css">
    <!-- modernizr css -->
    <script src="modernizr-2.8.3.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/vendor/modernizr-2.8.3.min.js"></script>
    @*@Styles.Render("~/Content/css")
    @Styles.Render("~/Content/")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- WRAPPER START -->
    <div class="wrapper">
        <!-- Mobile-header-top Start -->
        <div class="mobile-header-top hidden-lg hidden-md hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- header-search-mobile start -->
                        <div class="header-search-mobile">
                            <div class="table">
                                <div class="table-cell">
                                    <ul>
                                        <li><a class="search-open" href="#"><i class="zmdi zmdi-search"></i></a></li>
                                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/login.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/login.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/login.html"><i class="zmdi zmdi-lock"></i></a></li>
                                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/my-account.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/my-account.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/my-account.html"><i class="zmdi zmdi-account"></i></a></li>
                                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/wishlist.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/wishlist.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/wishlist.html"><i class="zmdi zmdi-favorite"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- header-search-mobile start -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile-header-top End -->
        <!-- HEADER-AREA START -->
        <header id="sticky-menu" class="header">
            <div class="header-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 col-xs-7">
                            <div class="logo text-center">
                                <a href="index.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/index.html"><img src="../../Content/logo.png" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/logo/logo.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-5">
                            <div class="mini-cart text-right">
                                <ul>
                                    <li>
                                        <a class="cart-icon" href="#">
                                            <i class="zmdi zmdi-shopping-cart"></i>
                                            <span>3</span>
                                        </a>
                                        <div class="mini-cart-brief text-left">
                                            <div class="cart-items">
                                                <p class="mb-0">You have <span>03 items</span> in your shopping bag</p>
                                            </div>
                                            <div class="all-cart-product clearfix">
                                                <div class="single-cart clearfix">
                                                    <div class="cart-photo">
                                                        <a href="#"><img src="../../Content/1.jpg" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/cart/1.jpg" alt="" /></a>
                                                    </div>
                                                    <div class="cart-info">
                                                        <h5><a href="#">dummy product name</a></h5>
                                                        <p class="mb-0">Price : $ 100.00</p>
                                                        <p class="mb-0">Qty : 02 </p>
                                                        <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span>
                                                    </div>
                                                </div>
                                                <div class="single-cart clearfix">
                                                    <div class="cart-photo">
                                                        <a href="#"><img src="../../Content/2.jpg" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/cart/2.jpg" alt="" /></a>
                                                    </div>
                                                    <div class="cart-info">
                                                        <h5><a href="#">dummy product name</a></h5>
                                                        <p class="mb-0">Price : $ 300.00</p>
                                                        <p class="mb-0">Qty : 01 </p>
                                                        <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-totals">
                                                <h5 class="mb-0">Total <span class="floatright">$500.00</span></h5>
                                            </div>
                                            <div class="cart-bottom  clearfix">
                                                <a href="#" class="button-one floatleft text-uppercase" data-text="View cart">View cart</a>
                                                <a href="#" class="button-one floatright text-uppercase" data-text="Check out">Check out</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAIN-MENU START -->
            <div class="menu-toggle hamburger hamburger--emphatic hidden-xs">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="main-menu  hidden-xs">
                <nav>
                    <ul>
                        <li>
                            <a href="index.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/index.html">home</a>
                            <div class="sub-menu menu-scroll">
                                <ul>
                                    <li class="menu-title">Page's</li>
                                    <li><a href="index.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/index.html">Home Version 1</a></li>
                                    <li><a href="index-2.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/index-2.html">Home Version 2</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="http://demo.devitems.com/hurst-preview/hurst/shop.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop.html">products</a>
                            <div class="mega-menu menu-scroll">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="half-width">
                                            <ul>
                                                <li class="menu-title">best brands</li>
                                                <li><a href="#">henning koppel</a></li>
                                                <li><a href="#">jehs + Laub</a></li>
                                                <li><a href="#">vicke lindstrand</a></li>
                                                <li><a href="#">don chadwick</a></li>
                                                <li><a href="#">akiko kuwahata</a></li>
                                                <li><a href="#">barbro berlin</a></li>
                                                <li><a href="#">cecilia hall</a></li>
                                                <li><a href="#">don chadwick</a></li>
                                            </ul>
                                        </div>
                                        <div class="half-width">
                                            <ul>
                                                <li class="menu-title">popular brands</li>
                                                <li><a href="#">akiko kuwahata</a></li>
                                                <li><a href="#">barbro berlin</a></li>
                                                <li><a href="#">cecilia hall</a></li>
                                                <li><a href="#">don chadwick</a></li>
                                                <li><a href="#">henning koppel</a></li>
                                                <li><a href="#">jehs + Laub</a></li>
                                                <li><a href="#">vicke lindstrand</a></li>
                                                <li><a href="#">don chadwick</a></li>
                                            </ul>
                                        </div>
                                        <div class="full-width">
                                            <div class="mega-menu-img">
                                                <a href="http://demo.devitems.com/hurst-preview/hurst/single-product.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-product.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-product.html"><img src="1-1.jpg" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/megamenu/1.jpg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="pb-80"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Shortcodes</a>
                            <div class="sub-menu menu-scroll">
                                <ul>
                                    <li class="menu-title">Shortcodes</li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-accordions.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-accordions.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-accordions.html">Accordion</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-toggles.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-toggles.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-toggles.html">Toggles</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-tab.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-tab.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-tab.html">Tab</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-product-tab.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-product-tab.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-product-tab.html">Product Tab</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-product-tab-2.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-product-tab-2.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-product-tab-2.html">Product Tab 2</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-carousel.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-carousel.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-carousel.html">product carousel</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-carousel-2.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-carousel-2.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-carousel-2.html">product carousel 2</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-featured-product.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-featured-product.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-featured-product.html">Featured Product</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-featured-product-2.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-featured-product-2.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-featured-product-2.html">Featured Product 2</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-button.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-button.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-button.html">Button</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-table.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-table.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-table.html">Table</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-progress-bars.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-progress-bars.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-progress-bars.html">Progress Bar</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-blog.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-blog.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-blog.html">Blog</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-blog-2.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-blog-2.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-blog-2.html">Blog - 2</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-team.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-team.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-team.html">Team</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-footer.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-footer.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-footer.html">Footer</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-footer-2.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-footer-2.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-footer-2.html">Footer 2</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/elements-map.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/elements-map.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/elements-map.html">Map</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html">accesories</a></li>
                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-list.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-list.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-list.html">lookbook</a></li>
                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/blog.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/blog.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/blog.html">blog</a></li>
                        <li>
                            <a href="#">pages</a>
                            <div class="sub-menu menu-scroll">
                                <ul>
                                    <li class="menu-title">Page's</li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop.html">Shop</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html">Shop Sidebar</a></li>
                                    <li><a href="shop-grid-right-sidebar.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-grid-right-sidebar.html">Shop Right Sidebar</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-list.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-list.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-list.html">Shop List</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-list-right-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-list-right-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-list-right-sidebar.html">Shop List right sidebar</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-product.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-product.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-product.html">Single Product</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-product-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-product-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-product-sidebar.html">Single Product Sidebar</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/cart.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/cart.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/cart.html">Shopping Cart</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/wishlist.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/wishlist.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/wishlist.html">Wishlist</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/checkout.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/checkout.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/checkout.html">Checkout</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/order.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/order.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/order.html">Order</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/login.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/login.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/login.html">login / Registration</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/my-account.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/my-account.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/my-account.html">My Account</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/404.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/404.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/404.html">404</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/blog.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/blog.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/blog.html">Blog</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-blog.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-blog.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-blog.html">Single Blog</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-blog-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-blog-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-blog-sidebar.html">Single Blog Sidebar</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/about.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/about.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/about.html">About Us</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/contact.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/contact.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/about.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/about.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/about.html">about us</a></li>
                        <li><a href="http://demo.devitems.com/hurst-preview/hurst/contact.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/contact.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/contact.html">contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- MAIN-MENU END -->
        </header>
        <!-- HEADER-AREA END -->
        <!-- Mobile-menu start -->
        <div class="mobile-menu-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li>
                                        <a href="index.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/index.html">home</a>
                                        <ul>
                                            <li><a href="index.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/index.html">Home Version 1</a></li>
                                            <li><a href="index-2.html" tppabs="http://demo.devitems.com/hurst-preview/hurst/index-2.html">Home Version 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop.html">products</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html">accesories</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-list.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-list.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-list.html">lookbook</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/blog.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/blog.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/blog.html">blog</a></li>
                                    <li>
                                        <a href="#">pages</a>
                                        <ul>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop.html">Shop</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-sidebar.html">Shop Sidebar</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/shop-list.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop-list.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop-list.html">Shop List</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-product.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-product.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-product.html">Single Product</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-product-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-product-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-product-sidebar.html">Single Product Sidebar</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/cart.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/cart.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/cart.html">Shopping Cart</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/wishlist.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/wishlist.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/wishlist.html">Wishlist</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/checkout.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/checkout.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/checkout.html">Checkout</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/order.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/order.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/order.html">Order</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/login.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/login.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/login.html">login / Registration</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/my-account.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/my-account.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/my-account.html">My Account</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/404.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/404.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/404.html">404</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/blog.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/blog.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/blog.html">Blog</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-blog.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-blog.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-blog.html">Single Blog</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/single-blog-sidebar.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/single-blog-sidebar.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/single-blog-sidebar.html">Single Blog Sidebar</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/about.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/about.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/about.html">About Us</a></li>
                                            <li><a href="http://demo.devitems.com/hurst-preview/hurst/contact.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/contact.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/about.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/about.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/about.html">about us</a></li>
                                    <li><a href="http://demo.devitems.com/hurst-preview/hurst/contact.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/contact.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/contact.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile-menu end -->
        @RenderBody()
        <!-- FOOTER START -->
        <footer>
            <!-- Footer-area start -->
            <div class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">Contact Us</h3>
                                <ul class="footer-contact">
                                    <li><span>Address :</span>28 Green Tower, Street Name,<br>New York City, USA</li>
                                    <li><span>Cell-Phone :</span>012345 - 123456789</li>
                                    <li><span>Email :</span>your-email@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">accounts</h3>
                                <ul class="footer-menu">
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Account</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Wishlist</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Cart</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Sign In</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Check out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">shipping</h3>
                                <ul class="footer-menu">
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>New Products</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Top Sellers</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Manufactirers</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Suppliers</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Specials</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">your choice Products</h3>
                                <div class="footer-product">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="footer-thumb">
                                                <a href="#"><img src="1-9.jpg" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/footer/1.jpg" alt="" /></a>
                                                <div class="footer-thumb-info">
                                                    <p><a href="#">Furniture Product<br>Name</a></p>
                                                    <h4 class="price-3">$ 60.00</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="footer-thumb">
                                                <a href="#"><img src="1-9.jpg" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/footer/1.jpg" alt="" /></a>
                                                <div class="footer-thumb-info">
                                                    <p><a href="#">Furniture Product<br>Name</a></p>
                                                    <h4 class="price-3">$ 60.00</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer-area end -->
            <!-- Copyright-area start -->
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p class="mb-0">&copy; <a href="#" target="_blank">DevItems </a> 2017. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="payment  text-right">
                                <a href="#"><img src="1.png" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/payment/1.png" alt="" /></a>
                                <a href="#"><img src="2.png" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/payment/2.png" alt="" /></a>
                                <a href="#"><img src="3.png" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/payment/3.png" alt="" /></a>
                                <a href="#"><img src="4.png" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/payment/4.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright-area start -->
        </footer>
        <!-- FOOTER END -->
        <!-- QUICKVIEW PRODUCT -->
        <div id="quickview-wrapper">
            <!-- Modal -->
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-product">
                                <div class="product-images">
                                    <div class="main-image images">
                                        <img alt="#" src="../../Content/quickview-photo.jpg" tppabs="http://demo.devitems.com/hurst-preview/hurst/img/product/quickview-photo.jpg" />
                                    </div>
                                </div><!-- .product-images -->
                                <div class="product-info">
                                    <h1>Aenean eu tristique</h1>
                                    <div class="price-box-3">
                                        <hr />
                                        <div class="s-price-box">
                                            <span class="new-price">$160.00</span>
                                            <span class="old-price">$190.00</span>
                                        </div>
                                        <hr />
                                    </div>
                                    <a href="http://demo.devitems.com/hurst-preview/hurst/shop.html  \n\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \n\nDo you want to open it from the server?%27))window.location=%27http://demo.devitems.com/hurst-preview/hurst/shop.html%27" tppabs="http://demo.devitems.com/hurst-preview/hurst/shop.html" class="see-all">See all features</a>
                                    <div class="quick-add-to-cart">
                                        <form method="post" class="cart">
                                            <div class="numbers-row">
                                                <input type="number" id="french-hens" value="3">
                                            </div>
                                            <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                    <div class="quick-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
                                    </div>
                                    <div class="social-sharing">
                                        <div class="widget widget_socialsharing_widget">
                                            <h3 class="widget-title-modal">Share this product</h3>
                                            <ul class="social-icons">
                                                <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="zmdi zmdi-google-plus"></i></a></li>
                                                <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="zmdi zmdi-twitter"></i></a></li>
                                                <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="zmdi zmdi-facebook"></i></a></li>
                                                <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .product-info -->
                            </div><!-- .modal-product -->
                        </div><!-- .modal-body -->
                    </div><!-- .modal-content -->
                </div><!-- .modal-dialog -->
            </div>
            <!-- END Modal -->
        </div>
        <!-- END QUICKVIEW PRODUCT -->
    </div>
    <!-- WRAPPER END -->
    <!-- all js here -->
<!-- all js here -->
@RenderSection("Scripts", false)
<!-- jquery latest version -->
<script src="../../Scripts/jquery-3.3.1.min.js"></script>
<!-- bootstrap js -->
<script src="../../Scripts/bootstrap.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/bootstrap.min.js"></script>
<!-- jquery.meanmenu js -->
<script src="../../Scripts/jquery.meanmenu.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/jquery.meanmenu.js"></script>
<!-- slick.min js -->
<script src="../../Scripts/slick.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/slick.min.js"></script>
<!-- jquery.treeview js -->
<script src="../../Scripts/jquery.treeview.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/jquery.treeview.js"></script>
<!-- lightbox.min js -->
<script src="../../Scripts/lightbox.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/lightbox.min.js"></script>
<!-- jquery-ui js -->
<script src="../../Scripts/jquery-ui.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/jquery-ui.min.js"></script>
<!-- jquery.nivo.slider js -->
<script src="../../Scripts/jquery.nivo.slider.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/lib/js/jquery.nivo.slider.js"></script>
<script src="../../Scripts/home.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/lib/home.js"></script>
<!-- jquery.nicescroll.min js -->
<script src="../../Scripts/jquery.nicescroll.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/jquery.nicescroll.min.js"></script>
<!-- countdon.min js -->
<script src="../../Scripts/countdon.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/countdon.min.js"></script>
<!-- wow js -->
<script src="../../Scripts/wow.min.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/wow.min.js"></script>
<!-- plugins js -->
<script src="../../Scripts/plugins.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/plugins.js"></script>
<!-- main js -->
<script src="../../Scripts/main.js" tppabs="http://demo.devitems.com/hurst-preview/hurst/js/main.js"></script>
    
</body>
</html>
